<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/home.css">
</head>

<body>
    <aside>
        <h1>Drop<span>ens</span></h1>
        <a href="#">principal</a>

        <a href="#">
            notas
        </a>
        <a href="#">
            Motivación
        </a>
        <a href="#">
            hagamos un test 😊
        </a>
    </aside>



    <main>
        <section class="principal-page-user">
            <p id="username-header" style="display: none;">{{ username }}</p>
            <h1 id="username">Bienvenido </h1>
        </section>
    </main>

    <script src="static/home.js"></script>
</body>

</html>
